  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="google-site-verification" content="-xvcxNndyV1ZgR7bGgdDbMzndx8P4SSrG2frFOM-pCA" />
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src='/scripts/ga.js' type='text/javascript'></script>
    <script src='http://code.jquery.com/jquery-2.1.4.min.js' type='text/javascript'></script>
    <!-- Latest compiled and minified CSS -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css' rel='stylesheet'>
    <!-- Latest compiled and minified JavaScript -->
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' type='text/javascript'></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
    <link href='/css/dd0c.css' rel='stylesheet'>
    <script src='/scripts/dd0c.js' type='text/javascript'></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      //<!-- {% raw %} 
      function hivelogic_enkoder(){
        var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){y%=127;o+=St" +
        "ring.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\">,48(411@\\007J\\03" +
        "3M\\036\\020\\006\\032I\\003G\\003PLM\\\\\\036\\036N\\014[\\032\\022\\026\\" +
        "036\\016\\023P\\021Com9tlljb q$hdl|L\\177uwR`=z8)*3:!$,6[UPZ_]\\r\\032P\\02" +
        "2F\\000\\021A\\025RSPFP\\\\\\035S\\036CDG]SO\\026V}-or\\177,xzxr#fad5 {l*}7" +
        "=7%\\031-r2uf#-\\005\\025\\027\\021\\nE\\tI\\033\\034\\010\\030\\030\\037F_" +
        "\\\\\\036\\036ZO\\010\\020_ZPJMP!\\\\\\\\#^_,)90\\\"{7&pkadW/NOHI7'*)FG./.C" +
        "|\\022\\021\\023xy\\022\\025\\030uv\\026y\\007f\\036\\002\\001no\\003\\006\\"+
        "006kd\\017\\n\\013`a\\016\\014p\\035\\036wtu\\032\\033\\007\\005{{\\177}\\0" +
        "22\\023f`b\\017\\010afg\\004\\005\\035hmm\\002\\0037SRS89WWX56O\\03612\\\\@" +
        "A./DDF+$KHK !Cd3*47=3rfUVc>;.6`?`|p00;$7.)v*2;\\rk\\177q|y\\004\\017NT\\021" +
        "D\\014C\\\\ZDT@N\\017\\034\\037\\034\\023@\\022e\\025T\\026K\\001$&,\\0077'" +
        "/+g2c))!\\014\\\"0:\\0209:$1v>42.)\\rbK\\016YTVT[B\\021RXVF\\024GF\\tZBE\\\\"+
        "K\\037_\\036\\020\\001RWV\\027;m>j?5;n {em7ezh~t~=l(z;D;F9!r2v\\000SCU_\\01" +
        "4_\\013P\\001L\\013BBG[S_GU\\026\\034\",88)";while(x=eval(x)); 
      }
      //{% endraw %}-->
      /* ]]> */
    </script>
  </head>
