    <nav class='navbar navbar-default navbar-fixed-top' id='header'>
      <div class='container-fluid' id='header-container'>
        <div class='navbar-header'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a href='/'>
            <img alt='Logo' class='pull-left' src='/images/smalllogo.png' width='75'>
          </a>
          <a class='navbar-brand' href='/' id='brand'>
            Brian Galura
          </a>
        </div>
        <div class='collapse navbar-collapse' id='navbar'>
          <ul class='nav navbar-nav'>
            <li class='dropdown'>
              <a aria-expanded='false' aria-haspopup='true' class='dropdown-toggle' data-toggle='dropdown' href='#' role='button'>
                Contact
                <span class='caret'></span>
              </a>
              <ul class='dropdown-menu'>
                <li>
                  <script type="text/javascript">hivelogic_enkoder();</script>
                </li>
                <li>
                  <a href="tel:+1-310-651-6348">Phone</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/briangalura">LinkedIn</a>
                </li>
                <li>
                  <a href="https://twitter.com/dd0c">Twitter</a>
                </li>
              </ul>
            </li>{% for page in site.pages %}{% if page.title %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>{% endif %}{% endfor %}
            <li>
              <a href='https://github.com/ddoc/'>GitHub</a>
            </li>
            <li>
              <a href='https://flipboard.com/@ddoc/'>Flipboard</a>
            </li>
            <li class='last'>
              <a href='http://goo.gl/39Iuw'>CV/R&eacute;sum&eacute;</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
