<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
{% include nav.html %}
    <div class='container'>
      <div>
        <div class='row'>
          <div class='col-md-9 col-sm-12'>
{{ content }}
          </div>
          <div class='col-md-3 hidden-sm hidden-xs'>
            <div id='sidebar'>
              <ul class='nav nav-pills nav-stacked'>
                <li class='active'>
                  <a href='#'>Articles</a>
                </li>
                <li>
                  <a href='/posts/foreman_hooks_aws_vpc/'>
                    AWS VPC Buildout With Foreman Hooks for RDNS Creation
                  </a>
                </li>
                <li>
                  <a href='/posts/cloudstack_devops/'>
                    CloudStack Collab 2013: Lessons Learned at Citrix OSD
                  </a>
                </li>
              </ul>
              <hr>
            </div>
          </div>
        </div>
      </div>
{% include footer.html %}
    </div>
  </body>
</html>
